:root {
  --background: #1A0F12;
  --foreground: #E1DFED;
  --cursor: #E1DFED;
  --myblack: #1A0F12;
  --myblacktrans: rgba(26, 15, 18, 0.96);
  --mysurface: #1A0F12;
  --mysurfacedim: #35252a;
  --mysurfaceacc: #413236;
  --mytextdim: #5E5659;
  --mytextmid: #E1DFED;
  --mytext: #E1DFED;
  --mytextacc: #f00000;
  --myfrontacc: #777770;
  --myfront: #f00000;
  --myvisual: #682537;
  --myselect: #682537;
  --myaccent: #5083C7;
  --myaccentdim: #EBCB8B;
  --myerror: #e06c75;
  --keyword: #BF616A;
  --function: #83A4A6; 
  --conditional: #B48EAD;
  --field: #554348;
  --operator: #D08770;
  --string: #A3BE8C;
  --variable: #E1DFED;
}

