:root {
  --background: #16181D;
  --foreground: #D7D7C8;
  --cursor: #D7D7C8;
  --myblack: #16181D;
  --myblacktrans: rgba(22, 24, 29, 0.96);
  --mysurface: #16181D;
  --mysurfacedim: #2A2F38;
  --mysurfaceacc: #3B424F;
  --mytextdim: #525866;
  --mytextmid: #D7D7C8;
  --mytext: #D7D7C8;
  --mytextacc: #87A677;;;
  --myfrontacc: #5C667A;
  --myfront: #87A677;;
  --myvisual: #31394e;
  --myselect: #31394e;
  --myaccent: #8999A8;
  --myaccentdim: #C4A375;
  --myerror: #D98C8C;
  --keyword: #C47575;
  --function: #8CA6D9; 
  --conditional: #A375C4;
  --field: #7b7f83;
  --operator: #D9B88C;
  --string: #87A677;
  --variable: #D7D7C8;
}

