:root {
  --background: #F2F0E5;
  --foreground: #1A1A1A;
  --cursor: #1A1A1A;
  --myblack: #F2F0E5;
  --myblacktrans: rgba(242, 240, 229, 0.96);
  --mysurface: #F2F0E5;
  --mysurfacedim: #DFDBC3;
  --mysurfaceacc: #B8B39A;
  --mytextdim: #666359;
  --mytextmid: #1A1A1A;
  --mytext: #1A1A1A;
  --mytextacc: #4D7A4D;;;
  --myfrontacc: #8C8870;
  --myfront: #4D7A4D;;
  --myvisual: #ded7ac;
  --myselect: #ded7ac;
  --myaccent: #2D4F67;
  --myaccentdim: #94631A;
  --myerror: #B33D41;
  --keyword: #8C2F32;
  --function: #3B6685; 
  --conditional: #6B4A6B;
  --field: #727f89;
  --operator: #B37720;
  --string: #3E613E;
  --variable: #1A1A1A;
}

