:root {
  --background: #232126;
  --foreground: #D1CED4;
  --cursor: #D1CED4;
  --myblack: #232126;
  --myblacktrans: rgba(35, 33, 38, 0.96);
  --mysurface: #232126;
  --mysurfacedim: #38353D;
  --mysurfaceacc: #47434D;
  --mytextdim: #5C5861;
  --mytextmid: #D1CED4;
  --mytext: #D1CED4;
  --mytextacc: #94B394;;;
  --myfrontacc: #5E5966;
  --myfront: #94B394;;
  --myvisual: #483e56;
  --myselect: #483e56;
  --myaccent: #9BA8C8;
  --myaccentdim: #D1B894;
  --myerror: #D9A9A9;
  --keyword: #C79393;
  --function: #A9BDE0; 
  --conditional: #B394B3;
  --field: #8690aa;
  --operator: #E6CCAA;
  --string: #94B394;
  --variable: #D1CED4;
}

