:root {
  --background: #261A1D;
  --foreground: #D1DDE3;
  --cursor: #D1DDE3;
  --myblack: #261A1D;
  --myblacktrans: rgba(38, 26, 29, 0.96);
  --mysurface: #261A1D;
  --mysurfacedim: #3e3537;
  --mysurfaceacc: #484445;
  --mytextdim: #7D7276;
  --mytextmid: #D1DDE3;
  --mytext: #D1DDE3;
  --mytextacc: #A8C2A7;;;
  --myfrontacc: #5c5557;
  --myfront: #A8C2A7;;
  --myvisual: #743243;
  --myselect: #743243;
  --myaccent: #5083C7;
  --myaccentdim: #EBCB8B;
  --myerror: #e06c75;
  --keyword: #BF616A;
  --function: #83A4A6; 
  --conditional: #B48EAD;
  --field: #837CA3;
  --operator: #D9A286;
  --string: #A3BE8C;
  --variable: #D1DDE3;
}

