@import url("/home/aidanfleming/.config/theme/out/root.gtk.css");

* {
  font-family: Terminess Nerd Font Propo;
  font-weight: 900;
  font-size: 17px;
}

#custom-openbracket{
  color: @b09;
  margin-left: 5px ;
  font-size: 19px;
}

#custom-closebracket{
  color: @b09;
  margin-right: 5px ;
  font-size: 19px;
}

#custom-split { 
  color: @b09;
  font-size: 16px;
  margin: 0 0px ;
}

.modules-left {
    padding: 0 0 0 7px;
    background-color: @b00;
}
.modules-center {
    padding: 0 10px 0 10px;
    background-color: @b00;
}
.modules-right {
    padding: 0 10px 0 10px;
    background-color: @b00;
}


window#waybar {
background-color: @b00;
  color: @foreground;
  transition-duration: .5s;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

button:hover {
  box-shadow: inset 0 -3px @foreground;
}


#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd 
#window,
#bluetooth,
#workspaces {
  padding: 0 10px;
  margin: 0 0px;
  color: @foreground;
}

.modules-left > widget:first-child > #workspaces { margin-left: 0; padding-left: 0px; }
.modules-right > widget:last-child > #workspaces { margin-right: 0; padding-right: 0px; }

/* #clock { background-color: @info; color: @b01; } */


@keyframes blink {
  to {
    color: @error;
  }
}

#battery.critical:not(.charging) {
  color: @b08;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(6);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


#battery.full.charging,
#battery.good.charging {
  color: @b0C;
}


/* #temperature { background-color: @accent; padding-left: 0; } */
#temperature.critical { background-color: @error; }
/**/
#workspaces button {
  padding: 0px 5px;
  color: @b0C;
  margin: 0px 5px;
}

#workspaces button.active {
  background: @b02;
  color: @b0C;
}
#workspaces button.empty {
  color: @b04;
}

