:root {
  --background: #1D1F21;
  --foreground: #DEDCD3;
  --cursor: #DEDCD3;
  --myblack: #1D1F21;
  --myblacktrans: rgba(29, 31, 33, 0.96);
  --mysurface: #1D1F21;
  --mysurfacedim: #33373B;
  --mysurfaceacc: #454A4F;
  --mytextdim: #454A4F;
  --mytextmid: #99978F;
  --mytext: #DEDCD3;
  --mytextacc: #86A672;;;
  --myfrontacc: #616059;
  --myfront: #86A672;;
  --myvisual: #3a4451;
  --myselect: #3a4451;
  --myaccent: #6A779C;
  --myaccentdim: #C2A36B;
  --myerror: #E09696;
  --keyword: #C46767;
  --function: #93B5D1; 
  --conditional: #A375A3;
  --field: #454a5b;
  --operator: #E3C78B;
  --string: #86A672;
  --variable: #DEDCD3;
}

