:root {
  --background: #1F2121;
  --foreground: #BDBBB0;
  --cursor: #BDBBB0;
  --myblack: #1F2121;
  --myblacktrans: rgba(31, 33, 33, 0.96);
  --mysurface: #1F2121;
  --mysurfacedim: #353A3A;
  --mysurfaceacc: #474E4E;
  --mytextdim: #525757;
  --mytextmid: #BDBBB0;
  --mytext: #BDBBB0;
  --mytextacc: #A1D182;;;
  --myfrontacc: #626B6B;
  --myfront: #A1D182;;
  --myvisual: #3d4f4f;
  --myselect: #3d4f4f;
  --myaccent: #8A918A;
  --myaccentdim: #D1C082;
  --myerror: #E69595;
  --keyword: #D18282;
  --function: #95BCE6; 
  --conditional: #B382D1;
  --field: #707870;
  --operator: #E6D395;
  --string: #A1D182;
  --variable: #BDBBB0;
}

