:root {
  --background: #282624;
  --foreground: #D6D1CB;
  --cursor: #D6D1CB;
  --myblack: #282624;
  --myblacktrans: rgba(40, 38, 36, 0.96);
  --mysurface: #282624;
  --mysurfacedim: #3D3A37;
  --mysurfaceacc: #4D4945;
  --mytextdim: #635F59;
  --mytextmid: #D6D1CB;
  --mytext: #D6D1CB;
  --mytextacc: #8B9E8B;;;
  --myfrontacc: #66615C;
  --myfront: #8B9E8B;;
  --myvisual: #584c40;
  --myselect: #584c40;
  --myaccent: #A39E8B;
  --myaccentdim: #B39E85;
  --myerror: #C79797;
  --keyword: #B38585;
  --function: #97A7C7; 
  --conditional: #9E8BA3;
  --field: #8a8571;
  --operator: #C7B397;
  --string: #8B9E8B;
  --variable: #D6D1CB;
}

