:root {
  --background: #242826;
  --foreground: #D4D9C7;
  --cursor: #D4D9C7;
  --myblack: #242826;
  --myblacktrans: rgba(36, 40, 38, 0.96);
  --mysurface: #242826;
  --mysurfacedim: #383E3B;
  --mysurfaceacc: #454C49;
  --mytextdim: #5A635F;
  --mytextmid: #D4D9C7;
  --mytext: #D4D9C7;
  --mytextacc: #97B88D;;;
  --myfrontacc: #57615D;
  --myfront: #97B88D;;
  --myvisual: #40584c;
  --myselect: #40584c;
  --myaccent: #8DA38D;
  --myaccentdim: #B8B08D;
  --myerror: #C9A7A7;
  --keyword: #B88D8D;
  --function: #A7B1C9; 
  --conditional: #B38DB8;
  --field: #738a73;
  --operator: #C9C3A7;
  --string: #97B88D;
  --variable: #D4D9C7;
}

